*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
}
.gridContainer{
    height: 98%;
    width: 98%;
 

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: reapet(6, 1fr);
    grid-gap: 10px;
    margin: 5px auto;
    
}

/*innehåller item ett och fyra*/
.itemContainer{
    grid-column: span 2;
    grid-row: 1/4;

    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(4, 1fr);
    grid-gap: 10px
}
.Ett{
    background-color: #007F5F;
    
}

.Två{
    background-color: #80B918;
    grid-row: 1/span 3;
    grid-column: span 2;
}

.Tre{
    background-color: #DDDF00;
    grid-row: 1/span 1;
    grid-column: span 2;  

}
.Fyra{
    background-color: #2B9348;
   
}

.Fem{
background-color: #EEEF20;
     grid-row: 2/3;
     grid-column: 5/7;

}
.Sex{
    background-color: #55A630;
    grid-row: 4/6;
    grid-column: span 2;
}
.Sju{
 background-color: #AACC00;
 grid-column: 3/4;
}

.Åtta{
    background-color: #FFFF3F;
    grid-row: 3/4;
    grid-column: 5/7;
}

.Nio{
    background-color: #BFD200;
    grid-column: 3/4;
}

.Tio{
    background-color: #D4D700;
    grid-row: 4/6;
    grid-column: 4/6;
}

.Elva{
    background-color: #007F5F;
    grid-column: 6/7;
    grid-row: 4/6;
}

.Tolv{
    background-color: #9BC1BC;
    grid-column: 1/-1;


    display: flex;
    align-items: center;
}

h1{
    font-size: 34px;
}

